@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@font-face {
  font-family: "Copperplate";
  src: url('../../public/fonts/CopperplateCC-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Copperplate";
  src: url('../../public/fonts/CopperplateCC-Heavy.ttf');
  font-weight: light;
}



body {
  margin: 0;
  font-family: "Copperplate",  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: "Copperplate",source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
